<h2><%= @place.name%></h2>
<p>
   <%= @place.name%> adlı mekana bir yorum yapıldı
</p>
<p>
  Mekanınıza <%= link_to @place.name, place_url(@place)%> adresinden ulaşabilirsiniz
</p>
<p>
  Iyi Gunler
</p>