<h1> <%= @category.name%></h1>

<% @category.places.each do |place|%>
    <b>ID </b><%= place.id %><br>
    <b>Title </b>
    <%= link_to place.name, place_path(place) %><br>
    <b>Description </b><%= place.description %><br>
<% end %>